body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dddddd;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-track {
	background-color: #f2f8f9;
}

::-webkit-scrollbar-thumb:hover {
		background-color: #C1C1C1;
}

.ant-cascader-menus {
	padding: 8px;
}

.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
	background: #fff !important;
}

.ant-cascader-menu-item {
	font-size: 12px !important;
	padding: 5px 14px !important;
}

#dashboard {
	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.success-border {
		border: 2px solid #45c27e;
	}

	.danger-border {
		border: 2px solid #EE343F;
	}

	.deactive-border {
		border: 2px solid #696971;
	}

	.white {
		background-color: #fff;
	}

	.font-12 {
		font-size: 12px !important;
	}

	.font-14 {
		font-size: 14px !important;
	}

	.mar-left-30 {
		margin-left: 30px;
	}

	.mar-top-30 {
		margin-top: 30px;
	}

	.mar-bot-30 {
		margin-bottom: 30px;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.bold {
		font-weight: bold;
	}

	.center {
		text-align: center;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains, .ant-layout-footer {
		margin: 0 30px;
		margin-left: 230px;
		position: relative;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.bread-crumb {
		margin-top: 80px;
		width: 100%;
		background: transparent !important;

		.ant-input {
			border: none !important;
			padding-left: 20px !important;
			box-shadow: none !important;

			&:focus, &:active {
				border: none !important;
				box-shadow: none !important;
				outline: none !important;
			}
		}

		.anticon {
			display: none !important;
		}

		.ant-cascader-picker-label {
			padding-left: 20px !important;
		}
	}

	.search {
		width: 40%;
		display: inline-block;
		padding-bottom: 20px;
	}

	.select {
		width: 45%;
		margin-left: 30px;
		display: inline-block;
		padding-bottom: 20px;

		.ant-calendar-picker {
			width: 100% !important;
			padding-right: 25px;
		}

		.ant-calendar-picker-icon {
			display: none !important;
		}

		.ant-calendar-picker-input {
			padding-left: 20px;
		}
	}

	.description {
		margin-bottom: 30px;
		margin-top: -20px;
		font-size: 15px;
		margin-left: 20px;
	}

	.contain {
		padding: 25px 0;
	}

	.device-row {
		width: 100%;
		padding: 18px 0;
		border-bottom: 1px solid #d9d9d9;
	}

	.head {
		font-size: 16px;
		font-weight: bold;

		.ring {
			margin-left: 0 !important;
		}
	}

	.full-height {
		height: 400px;
		width: 100%;
	}

	.section-head {
		padding: 15px;
		color: #063261;
		border-bottom: 1px solid #ddd;
		position: sticky;
		top: 0;
		margin-right: 1px;
		background-color: #fff;
		z-index: 1;
	}

	.calendar-icon {
		width: 100%;

		.ant-select-selection__rendered {
			margin-left: 35px;
		}
	}

	.calendar-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 16px;
		height: 14px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'><path fill='#666' d='M50.25 11a364.37 364.37 0 0 1-16.62-9.42 4.97 4.97 0 0 0-7.26 0A365.91 365.91 0 0 1 9.75 11H0v49h60V11h-9.75zM32.22 3l.01.02c.25.27.51.69.66 1.22l.04.13a3 3 0 1 1-5.86 0c0-.05.03-.09.04-.13.15-.53.41-.95.66-1.22V3a2.98 2.98 0 0 1 4.45 0zm-7.21 1.75L25 5a5 5 0 1 0 10-.25c3.59 2.14 8.03 4.6 11.05 6.25h-32.1C16.97 9.35 21.4 6.89 25 4.75zM10 13h48v5H2v-5h8zM2 58V20h56v38H2z'/><circle cx='23' cy='28' r='1'/><circle cx='30' cy='28' r='1'/><circle cx='37' cy='28' r='1'/><circle cx='44' cy='28' r='1'/><circle cx='51' cy='28' r='1'/><circle cx='9' cy='36' r='1'/><circle cx='16' cy='36' r='1'/><circle cx='23' cy='36' r='1'/><circle cx='30' cy='36' r='1'/><circle cx='37' cy='36' r='1'/><circle cx='44' cy='36' r='1'/><circle cx='51' cy='36' r='1'/><circle cx='9' cy='43' r='1'/><circle cx='16' cy='43' r='1'/><circle cx='23' cy='43' r='1'/><circle cx='30' cy='43' r='1'/><circle cx='37' cy='43' r='1'/><circle cx='44' cy='43' r='1'/><circle cx='51' cy='43' r='1'/><circle cx='9' cy='51' r='1'/><circle cx='16' cy='51' r='1'/><circle cx='23' cy='51' r='1'/><circle cx='30' cy='51' r='1'/><circle cx='37' cy='51' r='1'/></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.filter-icon:before {
		content: '';
		display: inline-table;
		position: absolute;
		width: 12px;
		height: 16px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'><path d='M43.7.3A1 1 0 0 0 43 0H1.1a1 1 0 0 0-.8.3L.1.6 0 1c0 .3.1.6.3.7L15 22.3v21.1c.2.4.6.6 1 .6.3 0 .6-.1.7-.3l12-12c.3-.2.3-.5.3-.8v-8.6L43.7 1.7c.4-.4.4-1 0-1.4zm-16.4 21a1 1 0 0 0-.3.7v8.6l-10 10V22c0-.2 0-.5-.3-.7L3 2h38.2L27.3 21.3z'></path></svg>") no-repeat 100%;
		margin-top: 9px;
		z-index: 9;
	}

	.legends {
		margin-bottom: 50px;
	}

	.legend {
		display: inline-flex;
		
		&:first-child {
			.ring {
				margin-left: 0;
			}
		}
	}

	.ring {
		display: flex;
		height: 12px;
		width: 12px;
		margin-left: 20px;
		margin-right: 7px;
		margin-top: 4px;
		border-radius: 60px;
		margin-bottom: 1px;
	}

	.within-range-icon {
		height: 18px;
		width: 18px;
		background: transparent url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 301.61 301.61'><defs><linearGradient id='linear-gradient' x1='64.7' y1='150.8' x2='236.9' y2='150.8' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='#45c27e'/><stop offset='1' stop-color='#4bbddc'/></linearGradient><linearGradient id='linear-gradient-2' x1='64.575' y1='150.8' x2='237.025' y2='150.8' xlink:href='#linear-gradient'/></defs><title>thermometer (2)</title><path d='M236.9,38.38V51.23H187.09V38.38H236.9Zm-20.9,28H187.1V79.24H216V66.38Zm-28.91,40.88h49.8V94.4h-49.8ZM216,122.42H187.08v12.86H216Zm-28.92,40.87h49.8V150.44h-49.8Zm7.76,73.24a65.07,65.07,0,1,1-98.01-56.07V32.94a32.945,32.945,0,0,1,65.89,0V180.46a64.74,64.74,0,0,1,32.13,56.07Zm-12.85,0A51.98,51.98,0,0,0,153.38,190l-3.52-1.78V32.94a20.08,20.08,0,0,0-40.16,0V188.22L106.18,190A52.2,52.2,0,1,0,182,236.53Zm-10.7,0a41.51,41.51,0,1,1-52.2-40.05l2.38-.64V116.56h16.6v79.27l2.39.65a41.5,41.5,0,0,1,30.82,40.05Zm-39.46-27.66a8.3,8.3,0,0,0-9.92-6.26,34.12,34.12,0,0,0-26.72,33.46,8.3,8.3,0,0,0,16.58,0,17.852,17.852,0,0,1,13.8-17.29A8.33,8.33,0,0,0,131.83,208.87Z' style='stroke-miterlimit:10;stroke-width:0.25px;fill:url(#linear-gradient);stroke:url(#linear-gradient-2)'/></svg>") no-repeat 100%;
		margin-left: 20px;
		margin-right: 7px;
		margin-top: -4px;
		
	}

	.violation-icon {
		height: 18px;
		width: 18px;
		background: transparent url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 301.61 301.61'><defs><linearGradient id='linear-gradient' x1='64.7' y1='150.8' x2='236.9' y2='150.8' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='#7633ac'/><stop offset='1' stop-color='#cf8aaf'/></linearGradient></defs><title>thermometer (2)</title><path d='M236.9,38.38V51.23H187.09V38.38H236.9Zm-20.9,28H187.1V79.24H216V66.38Zm-28.91,40.88h49.8V94.4h-49.8ZM216,122.42H187.08v12.86H216Zm-28.92,40.87h49.8V150.44h-49.8Zm7.76,73.24a65.07,65.07,0,1,1-98.01-56.07V32.94a32.945,32.945,0,0,1,65.89,0V180.46a64.74,64.74,0,0,1,32.13,56.07Zm-12.85,0A51.98,51.98,0,0,0,153.38,190l-3.52-1.78V32.94a20.08,20.08,0,0,0-40.16,0V188.22L106.18,190A52.2,52.2,0,1,0,182,236.53Zm-10.7,0a41.51,41.51,0,1,1-52.2-40.05l2.38-.64V116.56h16.6v79.27l2.39.65a41.5,41.5,0,0,1,30.82,40.05Zm-39.46-27.66a8.3,8.3,0,0,0-9.92-6.26,34.12,34.12,0,0,0-26.72,33.46,8.3,8.3,0,0,0,16.58,0,17.852,17.852,0,0,1,13.8-17.29A8.33,8.33,0,0,0,131.83,208.87Z' style='fill:url(#linear-gradient)'/></svg>") no-repeat 100%;
		margin-left: 20px;
		margin-right: 7px;
		margin-top: -4px;
		
	}

	.line-icon {
		height: 28px;
		width: 100px;
		background: transparent url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1298 67'><title>danger (1)</title><rect x='10.396' y='9.621' width='1277.604' height='50.432' rx='25.216' ry='25.216' style='fill:#465466'/><g style='opacity:0.5'><line x1='49.59' y1='53.2' x2='49.59' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='70.429' y1='53.2' x2='70.429' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='91.268' y1='53.2' x2='91.268' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='112.107' y1='53.2' x2='112.107' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='132.946' y1='53.2' x2='132.946' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='153.785' y1='53.2' x2='153.785' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='174.625' y1='53.2' x2='174.625' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='195.464' y1='53.2' x2='195.464' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='216.303' y1='53.2' x2='216.303' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='237.142' y1='53.2' x2='237.142' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='257.981' y1='53.2' x2='257.981' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='278.82' y1='53.2' x2='278.82' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='299.659' y1='53.2' x2='299.659' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='320.499' y1='53.2' x2='320.499' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='341.338' y1='53.2' x2='341.338' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='362.177' y1='53.2' x2='362.177' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='383.016' y1='53.2' x2='383.016' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='403.855' y1='53.2' x2='403.855' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='424.694' y1='53.2' x2='424.694' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='445.533' y1='53.2' x2='445.533' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='466.373' y1='53.2' x2='466.373' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='487.212' y1='53.2' x2='487.212' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='508.051' y1='53.2' x2='508.051' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='528.89' y1='53.2' x2='528.89' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='549.729' y1='53.2' x2='549.729' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='570.568' y1='53.2' x2='570.568' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='591.407' y1='53.2' x2='591.407' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='612.247' y1='53.2' x2='612.247' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='633.086' y1='53.2' x2='633.086' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='653.925' y1='53.2' x2='653.925' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='674.764' y1='53.2' x2='674.764' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='695.603' y1='53.2' x2='695.603' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='716.442' y1='53.2' x2='716.442' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='737.281' y1='53.2' x2='737.281' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='758.121' y1='53.2' x2='758.121' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='778.96' y1='53.2' x2='778.96' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='799.799' y1='53.2' x2='799.799' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='820.638' y1='53.2' x2='820.638' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='841.477' y1='53.2' x2='841.477' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='862.316' y1='53.2' x2='862.316' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='883.155' y1='53.2' x2='883.155' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='903.995' y1='53.2' x2='903.995' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='924.834' y1='53.2' x2='924.834' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='945.673' y1='53.2' x2='945.673' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='966.512' y1='53.2' x2='966.512' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='987.351' y1='53.2' x2='987.351' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1008.19' y1='53.2' x2='1008.19' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1029.029' y1='53.2' x2='1029.029' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1049.869' y1='53.2' x2='1049.869' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1070.708' y1='53.2' x2='1070.708' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1091.547' y1='53.2' x2='1091.547' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1112.386' y1='53.2' x2='1112.386' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1133.225' y1='53.2' x2='1133.225' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1154.064' y1='53.2' x2='1154.064' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1174.903' y1='53.2' x2='1174.903' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1195.743' y1='53.2' x2='1195.743' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1216.582' y1='53.2' x2='1216.582' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1237.421' y1='53.2' x2='1237.421' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/><line x1='1258.26' y1='53.2' x2='1258.26' y2='37.639' style='fill:none;stroke:#ffedd4;stroke-miterlimit:10;stroke-width:0.5px'/></g></svg>") no-repeat 100%;
		margin-left: 7px;
		margin-right: 7px;
		margin-top: -4px;
		
	}

	.features {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
	}

	.features .feature {
		width: 230px;
		background: #fff;
		margin: 10px 20px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
		}
	}

	.feature-body {
		padding-bottom: 20px !important;
	}

	.head-section {
		padding: 10px;
		border-bottom: 1px solid #d9d9d9;
		display: flex;
		position: relative;

		.arrow {
			position: absolute;
    		right: 17px;
    		top: 13px;
    		cursor: pointer;
    		transition: all 0.5s;
		}

		.arrow:hover {
			color: #FF8400;
			right: 14px !important;
		}

		.ring {
			margin-right: 16px !important;
		}
	}

	.hed-txt {
		font-weight: bold;
	}

	.body-section {
		padding: 10px;

		.within-range-icon, .violation-icon {
			width: 25px !important;
			height: 25px !important;
			margin-right: 9px !important;
			margin-top: 2px !important;
			margin-left: 7px !important;
		}
	}

	.value-contain {
		display: inline-flex;
	}

	.value {
		font-size: 20px;
	}

	.range {
		padding: 0 39px;
    	padding-right: 20px;

    	.within-range {
			.ant-slider-rail {
				background: linear-gradient(90deg, #45c27e, #4bbddc) !important;
			}
		}

		.violation {
			.ant-slider-rail {
				background: linear-gradient(90deg, #cf8aaf, #7633ac) !important;
			}
		}

		.ant-slider-track {
			background: transparent !important;
		}
	}

	.warning-icon {
		height: 14px;
		width: 14px;
		background: transparent url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512'><defs><linearGradient id='linear-gradient' x1='-0.002' y1='256' x2='512.001' y2='256' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='#e91a00'/><stop offset='1' stop-color='#ffaa7f'/></linearGradient><linearGradient id='linear-gradient-2' x1='232.659' y1='286.965' x2='279.97' y2='286.965' xlink:href='#linear-gradient'/></defs><title>danger (1)</title><path d='M505.4,406.4,295.4,58.1a46,46,0,0,0-78.78,0L6.59,406.4a45.995,45.995,0,0,0,39.39,69.74H466.01a45.991,45.991,0,0,0,39.39-69.75Zm-28.36,29.97a12.68,12.68,0,0,1-11.03,6.44H46a12.68,12.68,0,0,1-10.85-19.2L245.16,75.3a12.665,12.665,0,0,1,21.68.03L476.86,423.6a12.686,12.686,0,0,1,.18,12.76Z' style='fill:url(#linear-gradient)'/><path d='M256.15,173c-12.68,0-22.57,6.8-22.57,18.87,0,36.8,4.33,89.69,4.33,126.49,0,9.59,8.35,13.6,18.25,13.6,7.42,0,17.93-4.01,17.93-13.6,0-36.8,4.33-89.69,4.33-126.49,0-12.06-10.2-18.87-22.27-18.87Zm.31,180.3a23.63,23.63,0,0,0-23.8,23.459q0,.181,0,.361a23.82,23.82,0,0,0,23.8,23.81c12.68,0,23.51-11.13,23.51-23.81,0-12.99-10.83-23.81-23.5-23.81Z' style='fill:url(#linear-gradient-2)'/></svg>") no-repeat 100%;
		margin-left: 12px;
		margin-right: 15px;
		margin-top: 2px;
	}

	.activity-icon {
		height: 14px;
		width: 14px;
		background: transparent url("data:image/svg+xml;utf8,<svg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512'><defs><linearGradient id='linear-gradient' x1='30.37' y1='78.07' x2='481.63' y2='78.07' gradientUnits='userSpaceOnUse'><stop offset='0' stop-color='#e91a00'/><stop offset='1' stop-color='#ffaa7f'/></linearGradient><linearGradient id='linear-gradient-2' x1='30.37' y1='230.47' x2='348' y2='230.47' xlink:href='#linear-gradient'/><linearGradient id='linear-gradient-3' x1='30.37' y1='393' x2='150' y2='393' xlink:href='#linear-gradient'/></defs><title>danger (1)</title><line x1='30.37' y1='78.07' x2='481.63' y2='78.07' style='fill:none;stroke-miterlimit:10;stroke-width:40px;stroke:url(#linear-gradient)'/><line x1='30.37' y1='230.47' x2='348' y2='230.47' style='fill:none;stroke-miterlimit:10;stroke-width:40px;stroke:url(#linear-gradient-2)'/><line x1='30.37' y1='393' x2='150' y2='393' style='fill:none;stroke-miterlimit:10;stroke-width:40px;stroke:url(#linear-gradient-3)'/></svg>") no-repeat 100%;
		margin-left: 12px;
		margin-right: 15px;
		margin-top: 2px;	
	}

	.violation-value {
		margin-left: 25px;
	}

	.chiller-details {
		.legends {
			margin-bottom: 0 !important;
			margin-top: 20px;
		}

		.head-section {
			.activity-value, .violation-value {
				position: absolute;
    			right: 20px;
			}

			.within-range-icon {
				margin-top: 2px !important;
			}
		}

		.body-section {
			.ring {
				margin-top: 0 !important;
			}

			.violation-icon {
				display: flex;
				width: 18px !important;
			}
		}
	}

	.graph-hed {
		position: absolute;
		right: 30px;

		.cur-value {
			font-size: 16px;
			font-weight: bold;
		}
	}

	.graphs {
		.body-section {
			min-height: 400px;
			max-height: 400px;
			overflow: auto;
		}
	}

	.head-container {
		margin-top: 30px;

		.head {
			display: inline-flex;
		}

		.ring {
			height: 12px !important;
			width: 12px !important;
			margin-top: 4px !important;
		}

		.select {
			float: right;
			display: flex;
		}
	}

	.back-btn {
		position: absolute;
    	right: 0;
    	margin-top: -20px;
	}

	.highcharts-credits {
		display: none !important;
	}
}

.dashboard-type-1 {
	.border-bot {
		border-bottom: 1px solid #d9d9d9;
	}

	.hed {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 15px;
		text-align: left;
		margin-top: 10px;
	}

	.close {
		margin: 8px;
		float: right;
	}

	.close-butn {
		cursor: pointer;
		font-size: 18px;
		opacity: 0.5;
		transition: all 0.3s;
	}

	.close-butn:hover {
		color: #f00;
	}

	.view-btn{
		cursor: pointer;

		&:hover {
			color: #52c41a;
		}
	}

	.aqi-trend {
		padding: 0 !important;
	}

	.aqi-scale {
		margin: 0 auto !important;
		width: 80% !important;
	}

	.more {
		text-align: center;
		padding: 5px;
		font-size: 15px;
		width: 100%;
		margin-top: 20px;
		cursor: pointer;
	}

	.width-90 {
		width: 135% !important;
	}

	.aqi-value {
		font-size: 35px !important;
	}
}

.dashboard-type-1 {
	.parameter-trend {
		max-height: unset !important;
	}

	.aqi-pollutant-graphs {
		width: 33.3%;
		display: inline-block;
	}

	.value {
		padding: 0 !important;
		padding-right: 10px !important;
	}

	.no-border {
		border: none !important;
	}
}

.type-1-loader {
	.city-select {
		.ant-skeleton-title {
			width: 80% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.full-height {
		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.aqi-pollutant-graphs {
		padding-left: 20px;
		width: 32.3% !important;
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hr24-graph {
		padding: 20px !important;
		width: 100%;
	}

	.avtar-load {
		.ant-skeleton-title {
			margin-bottom: 0.3em !important;
			margin-top: 12px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			margin-top: 0 !important;
			padding: 0 !important;

			li {
				height: 10px !important;
			}

			li + li {
				margin-top: 8px !important;
			}
		}
	}

	.wind-load {
		position: absolute;
		top: 60% !important;
	}

	.graph-load {
		text-align: center;
	}
}

@media screen and (max-width: 1280px) {
	.map-container {
		width: 50%;
	}

	.activity-detail, .violation-detail {
		width: 100% !important;
	}

	.activity-detail {
		margin-top: 30px;
	}
}

@media screen and (max-width: 1024px) {
	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}

	#dashboard {
		.features {
			.feature {
				width: 280px;
			}
		}

		.select {
			width: 45%;
		}
	}
}

@media screen and (max-width: 1023px) {
	#dashboard {
		.select {
			width: 55%;
		}
	}
}

@media screen and (max-width: 425px) {

	#dashboard {

		.chiller-details {
			.legends {
				display: none;
			}
		}

		.features {
			justify-content: center;
		}

		.graph-container {
			display: none;
		}

		.ant-spin-container {
			overflow-x: scroll !important;
		}

		.ant-spin-container::-webkit-scrollbar {
			height: 5px !important;
		}

		.ant-spin-container::-webkit-scrollbar-track {
			background: transparent !important;
		}

		.ant-spin-container::-webkit-scrollbar-thumb {
			background: #fbfbfb !important;
		}

		.ant-table-content {
			width: 200% !important;
		}

		.search {
			width: 100% !important;
		}

		.select {
			width: 100% !important;
			margin-top: 20px;
			margin-left: 0 !important;
		}

		.back-btn {
	    	position: relative !important;
	    	float: right;
	    	margin-top: 20px !important;
	    	z-index: 3;
	    }
	}
}
